# Load Data & import libraries

In [ ]:
import helperfunction as hf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.precision', 3)

In [ ]:
# focus on tn.movie budget first
file = 'https://raw.githubusercontent.com/learn-co-students/dc_ds_06_03_19/master/module_1/week_3_project/data/tn.movie_budgets.csv.gz'
budget = pd.read_csv(file, parse_dates = ['release_date'])

In [3]:
budget.info()

In [ ]:
# we don't need id coloumn
hf.drop_columns(budget, 'id')

In [ ]:
budget.release_date.sort_values()  # remove anything after Dec 2018

In [4]:
# remove after 2018-12-31
budget = budget[budget.release_date <= '2018-12-31']

In [5]:
# remove dollar sign and turn column 2 to 4 into numeric value 
hf.stringtonum(budget,budget.columns[-3:], '$,')

In [6]:
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220

In [7]:
# check out those values and see what they are 
masks = hf.create_masks(budget,['domestic_gross', 'worldwide_gross'],[0,0], [np.equal, np.equal])
budget = budget[~(masks[0] & masks[1])]
budget.shape

(5366, 6)

In [8]:
budget['domestic_profit_percent']= (budget.domestic_gross -budget.production_budget )/budget.domestic_gross*100 
budget['worldwide_profit_percent'] = (budget.worldwide_gross-budget.production_budget )/budget.worldwide_gross*100

In [9]:
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit_percent,worldwide_profit_percent
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,44.116,84.692
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-70.328,60.733
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,27.975,76.436
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,48.886,75.925
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,67.331,85.097

In [10]:
# save data frame using pickle 
budget.to_pickle('movie_profit_info.pkl')