# Load Data & import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.precision',3)

In [3]:
cd data

/Users/mindy/Documents/flatiron_school/dc_ds_06_03_mod1_project/data

In [4]:
ls

bom.movie_gross.csv            imdbcombined.pkl
imdb.name.basics.csv           movie_knownactor_director.pkl
imdb.title.akas.csv            movie_profit_info.pkl
imdb.title.basics.csv          name_knownformovie.pkl
imdb.title.crew.csv            rt.movie_info.tsv
imdb.title.principals.csv      rt.reviews.tsv
imdb.title.ratings.csv         tmdb.movies.csv

In [4]:
# focus on tn.movie budget first 

budget = pd.read_csv('tn.movie_budgets.csv')

In [5]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

In [6]:
# we don't need id coloumn
budget.drop(columns='id', inplace = True)  # write a helper function drop columns 
budget.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [7]:
table = str.maketrans(dict.fromkeys('$,'))

In [8]:
# convert release_date into datetime object
budget.release_date = pd.to_datetime(budget.release_date)  # write a helper function for convert to datetime object
# remove dollar sign and turn column 2 to 4 into numeric value 
budget.loc[:,'production_budget': 'worldwide_gross']= \
budget.loc[:, 'production_budget': 'worldwide_gross'].applymap(lambda x: int(x.translate(table)))

In [ ]:
budget.shape

In [9]:
# create % domestic profit and % world wide profit
budget['domestic profit %']=(budget.domestic_gross-budget.production_budget)/budget.production_budget*100

In [ ]:
budget.head()

In [10]:
budget['world profit %']= (budget.worldwide_gross-budget.production_budget)/budget.production_budget*100

In [11]:
budget.head()  # world profit inclue both domestic profit and foreign profit

,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic profit %,world profit %
0,2009-12-18,Avatar,425000000,760507625,2776345279,78.943,553.258
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-41.290,154.667
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-87.782,-57.211
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,38.840,324.384
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,95.641,315.370

In [16]:
# save data frame using pickle 
budget.to_pickle('movie_profit_info.pkl')

In [5]:
pd.read_pickle('movie_profit_info.pkl').head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic profit %,world profit %
0,2009-12-18,Avatar,425000000,760507625,2776345279,78.943,553.258
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-41.290,154.667
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-87.782,-57.211
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,38.840,324.384
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,95.641,315.370