# Load Data & import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import helperfunction as hf
pd.set_option('display.precision',3)

In [2]:
# focus on tn.movie budget first 
file = 'https://raw.githubusercontent.com/learn-co-students/dc_ds_06_03_19/master/module_1/week_3_project/data/tn.movie_budgets.csv.gz'
budget = pd.read_csv(file)

In [3]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

In [7]:
# we don't need id coloumn
hf.drop_columns(budget, 'id')

In [12]:
# convert release_date into datetime object
budget.release_date = pd.to_datetime(budget.release_date)  # write a helper function for convert to datetime object
# remove dollar sign and turn column 2 to 4 into numeric value 
hf.stringtonum(budget,budget.columns[-3:], '$,')

In [14]:
budget.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,2009-12-18,Avatar,425000000,760507625,2776345279
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [15]:
# create % domestic profit and % world wide profit
budget['domestic profit %']=(budget.domestic_gross-budget.production_budget)/budget.production_budget*100

In [16]:
budget['world profit %']= (budget.worldwide_gross-budget.production_budget)/budget.production_budget*100

In [17]:
budget.head()  # world profit inclue both domestic profit and foreign profit

,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic profit %,world profit %
0,2009-12-18,Avatar,425000000,760507625,2776345279,78.943,553.258
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-41.290,154.667
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-87.782,-57.211
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,38.840,324.384
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,95.641,315.370

In [18]:
# save data frame using pickle 
budget.to_pickle('movie_profit_info.pkl')