In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import helperfunction as hf 
%matplotlib inline

In [11]:
file_path = 'https://raw.githubusercontent.com/learn-co-students/dc_ds_06_03_19/master/module_1/week_3_project/data/tmdb.movies.csv.gz'
tmdb = pd.read_csv(file_path, index_col = 0)

In [12]:
tmdb.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [16]:
tmdb.nunique()

genre_ids             2477
id                   25497
original_language       76
original_title       24835
popularity            7425
release_date          3433
title                24688
vote_average            91
vote_count            1693
dtype: int64

In [17]:
# remove genre_ids, id columns, release_date
hf.drop_columns(tmdb, 'genre_ids','id','release_date')

In [18]:
ls

budget_profit_merged.pkl   imdb.title.principals.csv
imdb.name.basics.csv       imdb.title.ratings.csv
imdb.title.akas.csv        imdbcombined.pkl
imdb.title.basics.csv      movie_profit_info.pkl
imdb.title.crew.csv        tmdb.movies.csv

In [19]:
# load in imdb data to merge 
imdb = pd.read_pickle('imdbcombined.pkl')

In [20]:
imdb.head()

,writers,directors,no_known_director,no_known_actor_actress,no_known_writer,num_region,genre,original_title,start_year,runtime_minutes,averagerating,numvotes
primary_title,,,,,,,,,,,,
Sunghursh,Abrar Alvi,Harnam Singh Rawail,1,4,4,1,Action,Sunghursh,2013,175.0,7.0,77
Sunghursh,Abrar Alvi,Harnam Singh Rawail,1,4,4,1,Crime,Sunghursh,2013,175.0,7.0,77
Sunghursh,Abrar Alvi,Harnam Singh Rawail,1,4,4,1,Drama,Sunghursh,2013,175.0,7.0,77
Sunghursh,Mahasweta Devi,Harnam Singh Rawail,1,4,4,1,Action,Sunghursh,2013,175.0,7.0,77
Sunghursh,Mahasweta Devi,Harnam Singh Rawail,1,4,4,1,Crime,Sunghursh,2013,175.0,7.0,77

In [21]:
# merge with original_title 
merged_df = hf.merge_tables(imdb, tmdb, 'original_title', how = 'inner')

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93356 entries, 0 to 93355
Data columns (total 17 columns):
writers                   93220 non-null object
directors                 93316 non-null object
no_known_director         93356 non-null int64
no_known_actor_actress    93356 non-null int64
no_known_writer           93356 non-null int64
num_region                93356 non-null int64
genre                     93356 non-null object
original_title            93356 non-null object
start_year                93356 non-null int64
runtime_minutes           93356 non-null float64
averagerating             93356 non-null float64
numvotes                  93356 non-null int64
original_language         93356 non-null object
popularity                93356 non-null float64
title                     93356 non-null object
vote_average              93356 non-null float64
vote_count                93356 non-null int64
dtypes: float64(4), int64(7), object(6)
memory usage: 12.8+ MB

In [24]:
merged_df.head()

,writers,directors,no_known_director,no_known_actor_actress,no_known_writer,num_region,genre,original_title,start_year,runtime_minutes,averagerating,numvotes,original_language,popularity,title,vote_average,vote_count
0,Orson Welles,Orson Welles,1,4,0,12,Drama,The Other Side of the Wind,2018,122.0,6.9,4517,en,9.800,The Other Side of the Wind,7.0,64
1,Oja Kodar,Orson Welles,1,4,0,12,Drama,The Other Side of the Wind,2018,122.0,6.9,4517,en,9.800,The Other Side of the Wind,7.0,64
2,Lawrence Kasanoff,Lawrence Kasanoff,1,4,4,9,Action,Foodfight!,2012,91.0,1.9,8248,en,4.705,Foodfight!,2.1,46
3,Lawrence Kasanoff,Lawrence Kasanoff,1,4,4,9,Animation,Foodfight!,2012,91.0,1.9,8248,en,4.705,Foodfight!,2.1,46
4,Lawrence Kasanoff,Lawrence Kasanoff,1,4,4,9,Comedy,Foodfight!,2012,91.0,1.9,8248,en,4.705,Foodfight!,2.1,46